
@{
    ViewBag.Title = "Detalle_Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/cliente-producto.css" rel="stylesheet"/>
</head>

<div class="contenedor">
    <h3 class="nombre-producto">
        Nombre del producto
    </h3>
    <h4 class="marca-categoria">
        Marca/Categoria
    </h4>
    <div class="foto">
        FOTO
    </div>
    <main class="descripcion">
        <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </main>
    <aside class="carrito">
        carrito
    </aside>
    <footer class="detalle-producto">
        Detalle Producto
    </footer>
</div>


