
@{
    ViewBag.Title = "Detalle_Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/cliente-producto.css" rel="stylesheet" />
</head>

<div class="contenedor">
    <div class="nombre-producto">
        Nombre del producto
    </div>
    <div class="marca-categoria">
        Marca/Categoria
    </div>
    <div class="foto">
        FOTO
    </div>
    <div class="descripcion">
        <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
    <div class="carrito">
        carrito
    </div>
    <div class="detalle-producto">
        Detalle Producto
    </div>
</div>


