@model MARKETPLACE.Models.CategoriaDetalle
    @{
        ViewBag.Title = "UpdateCategoria";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item ">Categorias</li>
        <li class="breadcrumb-item active">Agregar nueva Categoria</li>
    </ol>
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Agregar nueva Categoria

        </div>
        <div class="card-body">
            @using (Html.BeginForm("UpdateCategoria", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            { 
            @Html.HiddenFor(m => m.idcategoria)
            <div class="form-group">
                <label class="control-label">Nombre Categoria</label>

                @Html.TextBoxFor(m=>m.desc_categoria,new { @class="form-control",placeholder="Ingrese Nombre de Categoria", required= "required", autofocus="autofocus" })
                @Html.ValidationMessageFor(m=>m.desc_categoria,"",new{@class="text-danger"})

            </div>

            <a onclick="window.histort.back();" class="btn btn-danger" > Cancelar</a>
            <input type="submit" class="btn btn-primary" value="Guardar"/>
            }

        </div>
    </div>
</div>
